* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --primry: #502c02;
}

img {
  width: 100%;
  height: 100%;
}

.form {
  width: 80%;
  height: max-content;
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff95;
  border-radius: 1rem;
  box-shadow: 0 0 15px var(--primry);
}

.form input {
  border: 1px solid #00000050 !important;
  box-shadow: inset 5px 5px 5px #00000050;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mb-3 {
  width: 90%;
}

.input {
  width: 100% !important;
}

.home {
  display: grid;
  align-items: center;
  justify-content: center;
}

.cart {
  width: 100%;
  padding: 1.5rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e095;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px var(--primry);
}

.coin {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin img {
  width: 50px;
  height: 50px;
}

.coin p {
  font-size: 40px;
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.btn-canje,
.btn-more {
  position: fixed;
  bottom: 4.5rem;
  right: 2rem;
  border-radius: 1.5rem !important;
  box-shadow: 0 0 15px var(--primry);
}

.more-options {
  height: min-content;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.more-options ul {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: max-content;
  position: absolute;
  bottom: 5rem;
  left: 1rem;
  background-color: #ffffff90;
  box-shadow: 0 0 5px var(--primry);
  transform: scale(0);
  transition: 0.5s all ease-in-out;
}

.show {
  transform: scale(1) !important;
}

.more-options ul li {
  list-style: none;
  font-weight: bold;
  border-bottom: 1px solid var(--primry);
}

.btn-more {
  width: 50px;
  height: 50px;
  font-size: 25px !important;
  font-weight: bold;
  left: 2rem;
  border-radius: 50% !important;
}

.filter {
  border: 1px solid #00000080;
  box-shadow: 0 0 5px #00000080;
  margin: 5rem auto 1rem;
}

.btn-back {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.background {
  background-image: url('https://previews.123rf.com/images/terriana/terriana1705/terriana170500111/78418947-seashell-patr%C3%B3n-transparente-vacaciones-de-verano-fondo-marino-bajo-el-agua-con-textura-ornamental.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.list-products {
  width: 100%;
  height: 100vh;
  padding: 2rem 1rem;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: auto;
  justify-content: center;
}

.item-product {
  height: 266px;
  padding: 0.5rem;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff95;
  border: 1px solid #502c0280;
  box-shadow: 1px 5px 5px #00000070;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.item-product img {
  width: 95px;
  height: 90px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 !important;
}

.qr-scan video {
  width: 100%;
}

.qr-scan div {
  width: 75%;
  height: 30%;
  position: absolute;
  border: 1px solid #ffffff;
  box-shadow: 0 0 30px #ffffff95;
}

.footer {
  width: 100vw;
  height: 4rem;
  display: flex;
  flex-direction: column;
  background-color: #00000080;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer p {
  margin: 0
}

.privacy {
  padding: 2rem 1rem;
}

@media only screen and (min-width: 600px) {
  .form {
    width: 40% !important;
  }
}
