* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --primry: #502c02;
}

img {
  width: 100%;
  height: 100%;
}

Form {
  width: 80%;
  height: max-content;
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff95;
  border-radius: 1rem;
  box-shadow: 0 0 15px var(--primry);
}

form input {
  border: 1px solid #00000050 !important;
  box-shadow: inset 5px 5px 5px #00000050;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mb-3 {
  width: 90%;
}

.input {
  width: 100% !important;
}

.home {
  display: grid;
  align-items: center;
  justify-content: center;
}

.cart {
  width: 100%;
  padding: 1.5rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px var(--primry);
}

.coin {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin img {
  width: 50px;
  height: 50px;
}

.coin p {
  font-size: 40px;
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.btn-canje {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 1.5rem !important;
  box-shadow: 0 0 15px var(--primry);
}

.background {
  background-image: url('./assets/background.jpg');
  background-position: center center;
  background-attachment: fixed;
}

@media screen and (min-width: "600px") {
  Form {
    width: 50%;
  }
}